* {
    margin: 0px;
    padding: 0px;
}

.addFood {
    position: absolute;
    margin-top: 10px;
    left: 10.5rem;
    background-color: rgba(102, 51, 153, 0);
    width: 100%;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: center;
}

.food {
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    width: min(60%, 50rem);
    max-height: 150vh;
    align-items: center;
    justify-content: center;

    & .exportButton {
        position: relative;
        left: 0;
        background-color: rgba(102, 51, 153, 0);
    }
}

.search {
    display: flex;
    height: 5%;
    margin: 3%;
    width: 60%;
    align-items: center;
}

#search_valor {
    width: 100%;
    padding-left: 2%;
    height: 100%;
    min-height: 30px;
    max-height: 30px;
    border-radius: 10px;
}

.grid_container {
    border-radius: 10px;
    width: 100%;
    margin-bottom: 4%;
    overflow: hidden;
    overflow-y: scroll;
    box-shadow: 0px 0px 30px #909497;
}

.grid_food {
    width: 100%;
    min-height: 33.75rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0px 0px 30px #909497;
    gap: 1rem;
}

.grid_food img {
    border-radius: 10px;
    height: 12.5rem;
    width: 12.5rem;
    box-shadow: 0px 5px 10px black;
    > img {
        object-fit: contain;
    }
}

.grid_food h1 {
    border: 1px;
    border-style: solid;
    width: 90%;
    margin: 2%;
    box-shadow: 0px 5px 10px black;
}

.icons {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img_food {
    width: 100%;
    height: 21.25rem;
    overflow: hidden;
    margin-bottom: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .ant-upload-list-picture-card-container {
        width: 80% !important;
        height: auto;
    }
}

#icons-icons {
    display: flex;
    width: fit-content;
    column-gap: 10px;
}

.img-alimento {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.iconsSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon_healty {
    margin-top: 0%;
    @extend .iconsSection;
}

.icon_enviroment {
    margin-top: 5%;
    @extend .iconsSection;
}

.icon_economy {
    margin-top: 5%;
    @extend .iconsSection;
}

.icon_culture_society {
    margin: 5% 0;
    @extend .iconsSection;
}

.ant-tag.ant-tag-blue {
    cursor: default;
}

.props {
    width: 50%;
    max-height: 180vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#sub {
    font-size: medium;
    margin-left: 10px;
}

.head_props {
    display: flex;
    width: 100%;
    justify-content: center;
}

#title {
    font-weight: 700;
}

.head_props #title {
    word-break: break-all;
    text-align: center;
}

.data_props {
    width: 100%;
    height: 75%;
    display: flex;
    border-radius: 10px;
    background-color: rgb(248, 249, 249);
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}

.property {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

Input {
    height: 50px;
}

#atr-titulo {
    width: 100%;
    height: 30px;
    font-weight: 600;
}

.atr-editable {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    font-size: large;
}

.preparaciones {
    width: 90%;
    background-color: rgb(236, 236, 236);
    height: 10%;
    border-radius: 10px;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
}

.tags {
    width: 90%;
    text-align: center;
    overflow-y: scroll;
    padding: 10px;
}

input:invalid:required {
    color: red;
    -webkit-text-fill-color: red;
}

#propsform {
    width: 80%;
}

.add_tag {
    width: 10%;
    margin-top: 10px;
    text-align: center;
}

#save {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

@media screen and (max-width: 1024px) {
    .search {
        margin-top: 8%;
        margin-bottom: 8%;
    }
    .food {
        flex-grow: 0.4;
    }
    .icons {
        flex-grow: 0.4;
        margin: 5%;
        text-align: right;
    }
    .props {
        flex-grow: 1;
    }
    .container {
        flex-wrap: wrap;
    }
}

.searchButton{
    margin-left: 5%;
}
