.glassbackground {
    /* From https://css.glass */
    background: rgba(110, 156, 213, 0.46);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(110, 156, 213, 0.3);
    height: 100%;
    align-items: center;
}
.fondo-img {
    padding-top: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 0px;
    position: absolute;
    background-image: url('https://peru21.pe/resizer/kRvTQyKB97pZHj2c-Y9JKq1AGa8=/580x330/smart/filters:format(jpeg):quality(75)/arc-anglerfish-arc2-prod-elcomercio.s3.amazonaws.com/public/KHC4XULR45H6ZOPWYUPQ6BXM5E.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 9.375rem;
    width: 100%;
    filter: blur(0.5px);
    z-index: -1;
}

.hoyito {
    background: white;
    border-radius: 16px;
    padding-top: 10px;
    height: 10px;
    width: 70px;
    margin-bottom: 15px;
    align-items: center;
}
.containerBasicInfo {
    width: 60%;
    //background-color: white;
    margin-left: 20%;
    margin-top: 5%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: solid 2px black;
    /* From https://css.glass */
    background: rgba(81, 118, 139, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(52, 202, 222, 0.3);
}

.basicInfo-Title {
    width: 90%;
    //background-color: RED;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 15%;
    font-weight: 800;
    font-size: x-large;
}

.basicInfo-Title2 {
    width: 90%;
    //background-color: RED;
    display: flex;
    justify-content: center;
    height: 5%;
    font-weight: 700;
    font-size: large;
    margin-left: 2rem;
}

.basicInfo-Title3 {
    width: 90%;
    //background-color: RED;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 5%;
    font-weight: 800;
    font-size: x-large;
}

.profile-imgBasic {
    position: relative;
    width: 98px;
    height: 98px;
    border-radius: 64px;
    margin-right: 60%;

    //Colorful border
    background: #26bdb5;
    padding: 2px;

    //Shadow
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}

.photo {
    width: 94px;
    height: 94px;
    border-radius: 64px;
}

.basicInfo-Name-Container {
    width: 90%;
    //background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 15%;
}

.basicInfo-Name-Container2 {
    width: 80%;
    //background-color: rgb(255, 0, 212);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-size: larger;
    height: 100%;
}

.basicInfo-Name-Container3 {
    width: 40rem;
    //background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 8%;
    margin-top: 0rem;
}

.basicInfo-Name-Container4 {
    width: 100%;
    //background-color: rgb(255, 0, 212);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-size: larger;
    height: 100%;
}

.basicInfo-Name-Container5 {
    width: 100%;
    //background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50%;
}

.basicInfo-Name-Container6 {
    width: 100%;
    //background-color: rgb(255, 0, 212);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-size: larger;
    height: 100%;
}

.id-name {
    margin-left: 0px;
    font-weight: 600;
}

.lb-name {
    // background-color: white;
    // border-radius: 5px;
    // border: solid 1px black;

    //Agregué esto para que no se vea el borde de la caja
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    background-color: transparent;

    width: 80%;
    height: 30%;
    margin-top: 0px;
    text-align: center;
}
.lb-name::placeholder {
    color: white;
    font-weight: bold;
}
#space {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    background-color: transparent;
}
//You may be able to delete this

.basicInfo-homeCel-Container {
    width: 90%;
    //background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 15%;
}

.basicInfo-homeCel-Container2 {
    width: 60%;
    //background-color: rgb(57, 221, 194);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-size: larger;
    height: 100%;
}

.basicInfo-birthPlaceGender-Container {
    width: 90%;
    //background-color: orange;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 15%;
}

.basicInfo-birthPlaceGender-Container2 {
    width: 60%;
    //background-color: rgb(207, 17, 99);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-size: larger;
    height: 100%;
}

//Dont delete this XD

.basicInfo-Save-Container {
    width: 90%;
    //background-color: rgb(217, 255, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 15%;
}

.basicInfo-Save-Container2 {
    width: 60%;
    //background-color: rgb(207, 17, 99);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-size: larger;
    height: 50%;
}

.btn-Save-basicInfo {
    background-color: rgb(159, 245, 163);
    width: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: 600;
    margin-right: 0vh;
    font-size: larger;
    border-radius: 10px;
}

.btn-Save-basicInfo2 {
    background-color: rgb(159, 245, 163);
    width: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    font-weight: 600;
    margin-right: 0vh;
    font-size: larger;
    border-radius: 10px;
    margin-left: 3rem;
}

.btn-Save-basicInfo3 {
    background-color: rgb(159, 245, 163);
    width: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    font-weight: 600;
    margin-right: 0vh;
    font-size: larger;
    border-radius: 10px;
    margin-left: 5rem;
}

//Circunferencia
.containerCircunferencia {
    width: 60%;
    //background-color: white;
    margin-left: 20%;
    margin-top: 5%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: solid 2px black;
    /* From https://css.glass */
    background: rgba(81, 118, 139, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(52, 202, 222, 0.3);
}

.circunferencia-Container {
    width: 90%;
    //background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.circunferencia-ContainerGrafica {
    width: 60%;
    //background-color: rgb(255, 0, 212);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-size: larger;
    height: 20rem;
}

.circunferencia-Container2 {
    width: 60%;
    //background-color: rgb(255, 0, 212);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-size: larger;
    height: 100%;
}

.circunferencia-Container3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50rem;
    height: 50rem;
    //margin-right: 23rem;
    margin-left: 3rem;
    //background-color: red;
}

.circunferencia-Container4 {
    width: 60%;
    //background-color: rgb(255, 0, 212);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-size: larger;
    height: 100%;
    margin-left: 10vh;
}

.label-circunferencia {
    margin-right: 3rem;
    font-weight: 600;
}

.input-circunferencia {
    background-color: white;
    border-radius: 5px;
    border: solid 1px black;
    width: 80%;
    height: 50%;
    margin-top: 0px;
    margin-right: 2.3rem;
    text-align: center;
}

#select-pro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*background-color: purple;*/
    margin-top: -1.5%;
    //width: 20%;
}

.select-pro2 {
    //width: 100%;
    font-weight: 600;
    font-size: larger;
    /*background-color: purple;*/
}

.btn-see-circunferencia {
    background-color: rgb(159, 245, 163);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: 600;
    //margin-left:25vh;
    font-size: larger;
    border-radius: 10px;
    margin-top: 1.5rem;
}

//Campo Corporales
.containerCampoCor {
    width: 60%;
    //background-color: white;
    margin-left: 20%;
    margin-top: 5%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: solid 2px black;
    /* From https://css.glass */
    background: rgba(81, 118, 139, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(52, 202, 222, 0.3);
}

.campCor-Container {
    width: 90%;
    //background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.campoCor-Container2 {
    width: 15rem;
    //background-color: rgb(255, 0, 212);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-size: larger;
    height: 100%;
}

.campCor-Container3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50rem;
    height: 50rem;
    //margin-right: 23rem;
    margin-left: 3rem;
    //background-color: red;
}

.campCor-Container4 {
    width: 100%;
    //background-color: rgb(255, 0, 212);
    display: flex;
    flex-direction: row;
    justify-content: right;
    font-weight: 600;
    font-size: larger;
    height: 100%;
    margin-right: 0vh;
    margin-top: 1rem;
}

.label-campCor {
    margin-left: 3rem;
    font-weight: 600;
}

.input-campCor {
    background-color: white;
    border-radius: 5px;
    border: solid 1px black;
    width: 80%;
    height: 50%;
    margin-top: 0px;
    margin-right: 0vh;
    text-align: center;
    //align-items: left;
}

.label-campCor2 {
    margin-right: 2rem;
    width: 10rem;
    font-weight: 600;
}

.input-campCor2 {
    background-color: white;
    border-radius: 5px;
    border: solid 1px black;
    width: 11rem;
    height: 1.8rem;
    margin-top: 0px;
    text-align: center;
    margin-right: 1rem;
}

.btn-see-camCor {
    background-color: rgb(159, 245, 163);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: 600;
    //margin-left:25vh;
    font-size: larger;
    border-radius: 10px;
    margin-top: 1.5rem;
}

//Estado General
.containerEstadoGen {
    width: 60%;
    //background-color: rgb(255, 255, 255);
    margin-left: 20%;
    margin-top: 5%;
    // height: 175rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: solid 2px black;
    /* From https://css.glass */
    background: rgba(81, 118, 139, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(52, 202, 222, 0.3);
}

.estadoGen-Container {
    width: 90%;
    //background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.estadoGen-Container2 {
    width: 15rem;
    //background-color: rgb(255, 0, 212);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-size: larger;
    height: 100%;
}

.label-estadoGen {
    margin-left: 2rem;
    width: 10.8rem;
    font-weight: 600;
}

.input-campCor {
    background-color: white;
    border-radius: 5px;
    border: solid 1px black;
    width: 11rem;
    height: 1.7em;
    margin-top: 0px;
    margin-left: 2rem;
    text-align: center;
}

.label-estadoGen2 {
    margin-right: 30rem;
    width: 10rem;
    font-weight: 800;
}

.label-estadoGen3 {
    margin-left: 5rem;
    width: 10rem;
    font-weight: 800;
    font-size: large;
}

.label-estadoGen2 {
    margin-right: 30rem;
    width: 10rem;
    font-weight: 800;
}

.input-campCor2 {
    background-color: white;
    border-radius: 5px;
    border: solid 1px black;
    width: 11rem;
    height: 1.8rem;
    margin-top: 0px;
    text-align: center;
    margin-right: 1rem;
}

.btn-see-camCor {
    background-color: rgb(159, 245, 163);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: 600;
    //margin-left:25vh;
    font-size: larger;
    border-radius: 10px;
    margin-top: 1.5rem;
}

/* Popup style */
.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.box {
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-icon {
    content: 'x';
    cursor: pointer;
    position: fixed;
    right: calc(15% - 30px);
    top: calc(100vh - 85vh - 33px);
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
}

//Gastro Intestinal
.containerGastroInt {
    width: 60%;
    //background-color: white;
    margin-left: 20%;
    margin-top: 5%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: solid 2px black;
    /* From https://css.glass */
    background: rgba(81, 118, 139, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(52, 202, 222, 0.3);
}

.id-gastroIn {
    margin-left: 1px;
    font-weight: 600;
}

.lb-gastrIn {
    background-color: white;
    border-radius: 5px;
    border: solid 1px black;
    width: 80%;
    height: 100%;
    margin-top: 0px;
    text-align: center;
}

.lb-gastrIn2 {
    background-color: white;
    border-radius: 5px;
    border: solid 1px black;
    width: 18rem;
    height: 2.2rem;
    margin-top: 0px;
    text-align: center;
}

.lb-gastrInSelect {
    //background-color: white;
    border-radius: 5px;
    border: solid 1px black;
    width: 90%;
    height: auto;
    margin-top: 0px;
    text-align: center;
}

//Indicadores de Sueño
.containerIndicadorSueño {
    width: 60%;
    //background-color: white;
    margin-left: 20%;
    margin-top: 5%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: solid 2px black;
    /* From https://css.glass */
    background: rgba(81, 118, 139, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(52, 202, 222, 0.3);
}

.indicadorSueño-Name-Container {
    width: 90%;
    //background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 25%;
}

.indicadorSueño-Name-Container2 {
    width: 60%;
    //background-color: rgb(255, 0, 212);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-size: larger;
    height: 100%;
}

.id-indicadorS {
    margin-right: 2rem;
    font-weight: 600;
}

.lb-IndicadorS {
    background-color: white;
    border-radius: 5px;
    border: solid 1px black;
    width: 80%;
    height: 100%;
    margin-top: 0px;
    text-align: center;
}

.lb-indicadorSSelect {
    //background-color: white;
    border-radius: 5px;
    border: solid 1px black;
    width: 40%;
    height: 100%;
    margin-top: 0px;
    text-align: center;
}

.btnLactancia-Save-Container {
    width: 90%;
    //background-color: rgb(217, 255, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 15%;
    margin-top: 2.5rem;
}

input {
    border-radius: none;
    outline: none;
}
