

//Circunferencia
.containerCircunferencia {
    width: 60%;
    //background-color: white;
    margin-left: 20%;
    margin-top: 5%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: solid 2px black;
    /* From https://css.glass */
    background: rgba(81, 118, 139, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(52, 202, 222, 0.3);
}

.basicInfo-Title {
    width: 90%;
    //background-color: RED;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 15%;
    font-weight: 800;
    font-size: x-large;
}

.circunferencia-Container3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50rem;
    height: 50rem;
    //margin-right: 23rem;
    margin-left: 3rem;
    //background-color: red;
}

.circunferencia-Container {
    width: 90%;
    //background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.campoCor-Container2 {
    width: 15rem;
    background-color: rgba(255, 0, 212, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-size: larger;
    height: 100%;
}

.circunferencia-Container4 {
    width: 60%;
    //background-color: rgb(255, 0, 212);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-size: larger;
    height: 100%;
    margin-left: 10vh;
}

.label-circunferencia {
    margin-right: 3rem;
    font-weight: 600;
}

.input-circunferencia {
    background-color: white;
    border-radius: 5px;
    border: solid 1px black;
    width: 80%;
    height: 50%;
    margin-top: 0px;
    margin-right: 2.3rem;
    text-align: center;
}

.btn-see-circunferencia {
    background-color: #26bdb500;
    border: solid 1px #26bdb5;
    width: fit-content;                
    height: fit-content;
    padding: 5px 30px 5px 30px;    
    font-weight: 700;        
    border-radius: 10px;    
    color: #26bdb5;
}

.btn-see-circunferencia:hover {
    background-color: #26bdb5;                   
    color: #ffffff;
}