

.containerCampoCor {
    width: 60%;
    //background-color: white;
    margin-left: 20%;
    margin-top: 5%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: solid 2px black;
    /* From https://css.glass */
    background: rgba(81, 118, 139, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(52, 202, 222, 0.3);
}

.campCor-Container {
    width: 90%;
    //background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.campoCor-Container2 {
    width: 15rem;
    //background-color: rgb(255, 0, 212);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-size: larger;
    height: 100%;
}

.campCor-Container3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50rem;
    height: 50rem;
    //margin-right: 23rem;
    margin-left: 3rem;
    //background-color: red;
}

.campCor-Container4 {
    width: 100%;
    //background-color: rgb(255, 0, 212);
    display: flex;
    flex-direction: row;
    justify-content: right;
    font-weight: 600;
    font-size: larger;
    height: 100%;
    margin-right: 0vh;
    margin-top: 1rem;
}

.label-campCor {
    margin-left: 3rem;
    font-weight: 600;
}

.input-campCor {
    background-color: white;
    border-radius: 5px;
    border: solid 1px black;
    width: 80%;
    height: 50%;
    margin-top: 0px;
    margin-right: 0vh;
    text-align: center;
    //align-items: left;
}

.btn-see-camCor {
    background-color: rgb(159, 245, 163);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: 600;
    //margin-left:25vh;
    font-size: larger;
    border-radius: 10px;
    margin-top: 1.5rem;
}



